
/* header */
.head{ 
    background-color: #2c3e50;
    min-height: 80px;
    
}



/* sezione about */
.about{ 
    background-color: #1aba9a;
    text-align: center;
}
/* SEZIONE CONTACT */

/* sezione location */
.location{ 
    background-color: #3a546d;
    text-align: center;
}
/* footer */
footer{ 
    background-color: #2c3e50;
    min-height: 80px;
    text-align: center;
}










/* DEBUG */
.col{
    background-color: orange;
    border: 1px solid white;
}
header.col-2{ 
    background-color: #3a546d;
}
.hero{ 
     background-color: #1aba9a;
    min-height: 300px;
   
    
    
}
.item{ 
    min-height: 100px;
    background-color: bisque;
    border: 1px solid white;
    
}
.col.portafolio{ 
     min-height: 200px;
    
     
     
}
.contact{ 
    min-height: 200px;
}
.location{ 
    min-height: 200px;
}



